@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;600;700;800&family=Rubik:wght@400;500;700;900&display=swap');

@import "tailwindcss";

@theme {
  --color-lev-yellow: #FDCF41;
  --color-lev-blue: #1D5D9B;
  --color-lev-burgundy: #7A1429;

  --font-sans: "David", "Rubik", "Assistant", sans-serif;

  --animate-fade-in: fadeIn 0.7s ease-in-out;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

body {
  direction: rtl;
  background-color: var(--color-lev-yellow);
  font-family: var(--font-sans);
  overflow: hidden;
  margin: 0;
}